{% extends 'base.html' %}
{% block title %}Відгуки до {{ course_title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row-fluid" align="center">
        <h1 class="span7">Відгуки до <br> {{ course_title }}</h1>
            <form class="span5 row-3" action="/feedback/{{ course_id }}/addcomment/" method="post">
                {% csrf_token %}
                <label for="comment_text"><h3>Додати відгук:</h3></label>
<!--                <input class="span12" type="text" name="comment_text" id="comment_text">-->
                <textarea class="span12" name="comment_text" id="comment_text"></textarea>
                {% if comment_error %}
                    <label class="error">{{ comment_error }}</label>
                {% endif %}
                <input type="submit" class="btn-1" value="Додати коментар">
            </form>
        </div>
        {% for comment in comments %}
            <div class="row-1">
                <div class="row-fluid row-comment">
                    <h5 class=""><i>Автор: </i> {{ comment.comment_author }}</h5>
                </div>
                <div class="row-comment-in">
                    <p>{{ comment.comment_text|linebreaksbr }}</p>
                </div>
                <div class="row-fluid row-comment">
                    <p class="span4"><i>Дата публікації:</i> {{ comment.comment_date }}</p>
                    <p class="offset4"><i>Рейтинг:</i> <a href="/comment/{{ comment.id }}/dislike/"><img src="/media/img/dislike.png" height="25px" width="25px"></a> {{ comment.comment_rate }} <a href="/comment/{{ comment.id }}/like/"><img src="/media/img/like.png" height="25px" width="25px"></a></p>
                </div>
            </div>
            <hr/>
        {% endfor %}
    </div>
{% endblock %}