{% extends 'base.html' %}
{% block title %}Вхід{% endblock %}
{% block content %}
    <div class="row-fluid">
        <div class="container">
            <div class="row-2 offset4 span4">
                <div class="row-fluid">
                    <form class="offset1 span10" action="/login/" method="post">
                        {% csrf_token %}
                        <div class="row-fluid">
                            <label class="" for="username"><h3>Ім’я користувача</h3></label>
                            <input class="span12" type="text" name="username" id="username">
                            <label for="password"><h3>Пароль</h3></label>
                            <input class="span12" type="password" name="password" id="password">
                            {% if login_error %}
                                <label class="error">{{ login_error }}</label>
                            {% endif %}
                        </div>
                        <br/>
                        <div class="row-fluid">
                            <div class="span5">
                                <input type="submit" class="btn-1 span12" value="Увійти">
                            </div>
                            <div class="offset2 span5">
                                <a href="/register/">
                                    <button type="button" class="btn-2 span12">Реєстрація</button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}